body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  font-family: "Courier", monospace;
}

.frame {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.active {
  transform: scale(1);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.mini {
  transform: scale(0.25);
  transform-origin: top left;
  user-select: none;
  z-index: -1;
}

.title {
  background-color: black;
  color: white;
  height: 36vh;
  margin: 0px;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button {
  background-color: #33bb5e;
  border: 1vh solid #33bb5e;
  color: white;
  font-weight: bold;
  border-radius: 1vh;
  font-size: 4vh;
  user-select: none;
}

.active .button {
  display: inline-block;
}

.mini .button {
  display: none;
}

h1 {
  font-size: 8vh;
  margin: 0;
  margin-top: auto;
  padding: 3vh;
}

.content {
  background-color: #33bb5e;
  height: 60vh;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.frame-container {
  background-color: black;
  height: 25vh;
  width: 25vw;
  margin: 0px;
  border: 1vh solid black;
  border-radius: 1vh;
}

img {
  width: min(25vw, 25vh);
  height: min(25vw, 25vh);
  border: 1vh solid black;
  border-radius: 50%;
  margin: 5vh;
}

.textbox {
  background-color: black;
  color: white;
  border: 1vh solid black;
  border-radius: 1vh;
  padding: 3vh 3vw;
  margin: min(5vh, 5vw);
  overflow-y: auto;
  max-height: 40vh;
  max-width: 60vw;
}

.contact-div {
  display: flex;
  flex-direction: column;
}

form {
  width: 60vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  padding: 5vh;
}

.contact-subject {
  width: 30vw;
}

.contact-message {
  height: 100%;
  margin: 3vh 0;
}

.send-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.submit-button {
  background-color: black;
  border: 1vh solid black;
  color: white;
  border-radius: 1vh;
}

.contact-details {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-details p {
  margin: 0;
  text-align: center;
}
